<ion-header class="ion-no-border">
    <ion-toolbar color="dark">
        <ion-buttons slot="secondary">
            <ion-button>
                <ion-icon slot="icon-only" name="person-circle"></ion-icon>
            </ion-button>
            <ion-button>
                <ion-icon slot="icon-only" name="search"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="primary">
            <ion-button color="secondary">
                <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Usuarios</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="outer-content">
    <ion-item>
        <ion-avatar slot="start">
            <img src="https://image.flaticon.com/icons/svg/147/147142.svg">
        </ion-avatar>
        <ion-label>Fernando Navarrete Acosta</ion-label>
    </ion-item>
    <ion-item>
        <ion-avatar slot="start">
            <img src="https://image.flaticon.com/icons/svg/236/236832.svg">
        </ion-avatar>
        <ion-label>Mersus Manton Nicolas</ion-label>
    </ion-item>
    <ion-item>
        <ion-avatar slot="start">
            <img src="https://image.flaticon.com/icons/svg/147/147144.svg">
        </ion-avatar>
        <ion-label>Petton Leonel Reyez</ion-label>
    </ion-item>
    <ion-item>
        <ion-avatar slot="start">
            <img src="https://image.flaticon.com/icons/svg/147/147140.svg">
        </ion-avatar>
        <ion-label>George Naveles Contreras</ion-label>
    </ion-item>
</ion-content>